---
---
@import "minima";
@mixin notebox {
  border: thin Black;
  background-color: #F5F5F5;
  box-shadow: 10px 10px 5px #A0A0A0;
  line-height: 1.3em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 1em 1em 2.5em 1em;
}
.notebox {
  @include notebox

}

.gotcha {
  @include notebox
  background-color: #FFEEDB;
  box-shadow: 10px 10px 5px #C4B7A9;

}
